body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 54, 54);
}

/* nav bar */

nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    padding-right: 16px;
}

li {
    padding: 8px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

/* first block */

.first {
    background-color: rgb(211,211,211);
    display: flex;    
}

.leftSide {
    width: 60%;
    padding: 32px 24px;
}

.leftSide img {
    width:100%;
}

.rightSide {
    display: flex;
    align-items: center;
    width: 40%;
}

.content {
    width: 70%;

    
    padding: 12px;
}

button {
    color: white;
    background-color: rgb(51, 54, 54);
    padding: 8px 120px;
    border-style: solid;
}