body {
    margin: 0;
    width: 100%;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.1em;
    color: rgb(51, 54, 54);
}

a {
    text-decoration: none;
}

p {
    margin: 0.5em 0;
}

/* nav bar */

nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

nav a {
    color: rgb(51, 54, 54);
}

ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    padding-right: 16px;
}

li {
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.navMobile {
    display: none;
}

/* first block */

.first {
    background-color: rgb(211, 211, 211);
    display: flex;
}

.leftSide {
    width: 60%;
    padding: 32px 24px;
}

.leftSide img {
    width: 100%;
}

.rightSide {
    display: flex;
    align-items: center;
    width: 40%;
}

.content {
    width: 70%;
    padding: 12px;
}

button {
    background-color: rgb(51, 54, 54);
    padding: 0.5em 6.5em;
    border-style: solid;
}

button a {
    color: white;
}


/* second and fourth part pattern */

.second,
.fourthMain {
    display: flex;
}

.leftPart {
    width: 60%;
    padding: 32px 24px;
}

.leftPart img {
    width: 100%;
}

.rightPart {
    width: 40%;
    display: flex;
    flex-flow: column;
}

.note {
    display: flex;
    flex-flow: row;
    border: 1px solid rgb(235, 230, 230);
    padding: 16px;
}

.note a {
    color: blue;
    ;
}

.note h4 {
    margin: 0.5em 0;
}

/* second part */

.imageMobile {
    display: none;
}

#different {
    padding-top: 32px;
    border-top: none;
}

.note:nth-child(3) {
    background-color: rgb(211, 211, 211);
    border-top: none;
}

.note img {
    width: 35%;
   
}

.info {
    padding-left: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.signature {
    padding: 32px 0;
}

/* thrid part */

.third {
    background-color: rgb(211, 211, 211);
}

.third h2 {
    padding: 32px 0;
    text-align: center;
    margin-bottom: 0;
}

.firstRow,
.secondRow {
    display: flex;
    justify-content: center;
}

.firstRow {
    padding: 0 72px 32px 72px;
}

.secondRow {
    padding: 0 72px 52px 72px;
}

.text {
    padding: 16px;
}

.display {
    background-color: white;
    width: 370px;
    margin: 0 12px;
}

.display img {
    width: 100%;
    height: auto;
}

.display h4 {
    margin: 0;
    ;
}

video {
    width: 100%;
}

/* fourth part */

.fourth h2 {
    margin: 0;
    padding: 32px 0;
    text-align: center;
}

#gray {
    background-color: rgb(211, 211, 211);
}

.fourthMain .leftPart {
    padding-top: 0;
}

hr {
    margin: 0;
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: rgb(51, 54, 54);
}

footer p {
    margin: 0;
    padding: 16px 0 24px 24px;
}

footer ul {
    margin: 0;
    padding: 16px 24px 32px 0;
}

/* resizing */

@media only screen and (max-width: 900px) {

    /* first block */

    .rightSide .content {
        font-size: 0.8em;
    }

    h1 {
        margin-top: 0;
    }

    /* second block */

    .note img {
        max-height: 130px;
    }

    /* fourth block */

    .fourth .note img {
        max-height: 100px;
    }
}

@media only screen and (max-width: 800px) {

    /* second block */

    .second .rightPart {
        width: 100%
    }

    .second .note {
        justify-content: center;
    }

    .second .info {
        width: 30%;
    }

    .second .leftPart {
        display: none;
    }

    .imageFull {
        display: none;
    }

    .imageMobile {
        display: inline;
    }

    .note img {
        max-height: 150px;
    }

    /* fourth block */

    .fourth .info {
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 700px) {

    /* third block */

    body {
        font-size: 1em;
    }

    /* fourth block */

    .fourth .rightPart {
        display: none;
    }

    .fourth .leftPart {
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {

    /* navbr */

    .logo,
    .logoList {
        display: none;
    }

    .navMobile {
        display: inline;
        width: 100%;
    }

    ul {
        margin-left: 0;
        padding: 0;
        justify-content: space-around;
    }

    /* first block */

    .first {
        flex-wrap: wrap;
    }

    .leftSide,
    .rightSide {
        width: 100%;
    }

    .leftSide {
        padding: 0;
    }

    .content {
        padding: 32px 16px;
        width: 100%;
        text-align: center;
    }

    button {
        background-color: rgb(156, 160, 160);
        border-color: rgb(156, 160, 160);
        white-space: nowrap;
        padding: 2% 30%;
    }



    .third {
        display: none
    }
}